body{
    background-color: rgb(30, 34, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 140px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-box{
    background-color: rgb(36, 41, 61);
    width:clamp(1065px, 70vw, 70vw);
    height:clamp(700px, 80vh, 80vh);
    border-radius: 40px;
    box-shadow: -10px -10px 17px rgba(96, 88, 122, 0.224),10px 10px 10px rgba(12, 11, 16, 0.224);
    display: flex;
    flex-direction: column;
}

.banner{
    position: fixed;
    top:0px;
    left: 0px;
    right:0px;
    height:100px;
    background-color: rgb(15, 15, 33);
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.258);
}

.banner p{
    color: rgb(95, 255, 133);
    font-size: 50px;
    margin-left: 30px;
}


.cipher-select{
    background-color: rgb(43, 48, 68);
    box-shadow: -5px -5px 8px rgba(130, 120, 161, 0.224),5px 5px 5px rgba(0, 0, 0, 0.224);
    border-radius: 40px;
    border-style: none;
    padding: 10px 20px;
    color: rgb(95, 255, 133);
}

.spec-select{
    flex:0.25;
    display: flex;
    align-items: center;
    gap:40px;
}

.text-section{
    flex:2;
}

.shift-input{
    background-color: rgb(43, 48, 68);
    box-shadow: -5px -5px 8px rgba(130, 120, 161, 0.224),5px 5px 5px rgba(0, 0, 0, 0.224);
    padding: 10px 20px;
    border-radius: 40px;
    border-style: none;
    color: rgb(95, 255, 133);
}

/* 194 */
.key-input{
    background-color: rgb(43, 48, 68);
    box-shadow: -5px -5px 8px rgba(130, 120, 161, 0.224),5px 5px 5px rgba(0, 0, 0, 0.224);
    padding: 10px 20px;
    border-radius: 40px;
    border-style: none;
    color: rgb(95, 255, 133);
}

.error-container{
    margin-left:auto;
    margin-right:40px;
    font-size: 25px;
    color:rgb(255, 129, 129);
}


.mode-select{
    background-color: rgb(43, 48, 68);
    box-shadow: -5px -5px 8px rgba(130, 120, 161, 0.224),5px 5px 5px rgba(0, 0, 0, 0.224);
    border-radius: 40px;
    border-style: none;
    padding: 10px 20px;
    color: rgb(95, 255, 133);
    margin-left:20px;
}


.text-section{
    display: flex;
    flex-direction: column;   
    /* background-color: red;  */
}

.input-container{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container p{
    margin-right:auto;
    margin-left:50px;
    color: rgb(95, 255, 133);
    font-size:25px;
}

.output-container{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-container p{
    margin-right:auto;
    margin-left:50px;
    color: rgb(95, 255, 133);
    font-size:25px;
}

.input-textarea{
    resize: none;
    width:90%;
    height:60%;
    border-radius: 20px;
    padding: 20px 20px;
    border-style: none;
    background-color: rgb(55, 58, 87);
    color:white;
    font-size: 14px;
    box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.604), inset -4px -4px 8px rgba(241, 236, 255, 0.227);
}

.output-textarea{
    resize: none;
    width:90%;
    height:60%;
    border-radius: 20px;
    padding: 20px 20px;
    border-style: none;
    background-color: rgb(55, 58, 87);
    color:white;
    font-size: 14px;
    margin-bottom: 30px;
    box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.604), inset -4px -4px 8px rgba(241, 236, 255, 0.227);
}

.buttons{
    display: flex;
    gap:10px;
    margin-left:auto;
    margin-right:40px;
}
.clear-button{
    display: inline-block;
    margin-left: auto;
    margin-top:5px;
    padding:10px 40px;
    border-radius: 20px;
    border-style: none;
    font-size: 20px;
    background-color: rgb(95, 255, 133);
    transition: background-color 0.15s;
}

.clear-button:hover{
    background-color: rgb(255, 171, 193) ;
}

.convert-button{
    display: inline-block;
    margin-top:5px;
    padding:10px 40px;
    border-radius: 20px;
    border-style: none;
    font-size: 20px;
    background-color: rgb(95, 255, 133);
    transition: background-color 0.15s;
}

.convert-button:hover{
    background-color: rgb(255, 171, 193) ;
}

@media(max-width: 1100px){
    body{
        overflow: scroll;
        padding-top:100px;
        height: 100vh;
    }
    .content-box{
        width:95%;
        height:200%;
    }
    .spec-select{
        flex-wrap: wrap;
        margin:20px;
    }

    .mode-select{
        margin-left:0px;        
    }

    .error-container{
        margin-left:0px;
        display:non
    }

    .input-container{
        margin: 0px 10px;
    }

    .output-container{
        margin: 0px 10px;
    }

    .input-container p{
        margin-left:10px;
    }

    .output-container p{
        margin-left:10px;
    }

}

@media(max-width:600px){
    .buttons{
        flex-direction: column;
        width:100%;
    }

    .clear-button{
        width:100%;
    }

    .convert-button{
        width:100%;
        margin-left:0px;
    }
}